@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
    margin: 0
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation {
    color: #000000;
    background-color: #FFE17F;
}

.search-field button {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.search-field input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.form-search button {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.navigation-link-user {
    color: #000000;
    text-decoration: none;
    position: relative;
    padding-left: 15px;
}

.navigation-link-user::before {
    content: '';
    position: absolute;
    top: 22%;
    width: 15px;
    height: 12px;
    background-image: url("../images/navigation-icon/user-icon.svg");
    background-repeat: no-repeat;
    margin-left: -28px;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
}

.navigation-button {
    border: none;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFE17F;
}

.namber-of-products {
    font-size: 14px;
    line-height: 16px;
}

.cite-navigation-link {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.cite-navigation-catalog-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
}

.navigation-list-user,
.navigation-list,
.cite-navigation-list,
.cite-navigation-catalog-list,
.services-list,
.services-slider,
.contacts-schedule-list,
.footer-social-list,
.breadcrumbs-item,
.product-list,
.pagination {
    list-style: none;
}

.slider-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.slider-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.slider-features-value {
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.slider-features-name {
    font-size: 16px;
    line-height: 30px;
}

.categories-item{
    width: 160px;
    height: 253px;
}

.categories-link {
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    letter-spacing: -0.02em;
}

.categories-link-container {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
}

.services {
    background-color: #F0F0F0;
}

.services-button {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    border: none;
    background-color: #F0F0F0;
    letter-spacing: 0.2em;
}

.services-button-current {
    color: #FFE17F;
    background-color: #000000;
}

.services-slider-title {
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.delivery {
    background-color: #F0F0F0;
}

.delivery-button {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.about-us-title, .contacts-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.about-us-item {
    font-weight: 700;
    line-height: 20px;
    color: #000000;
    letter-spacing: -0.02em;
}

.about-us-item::marker {
    color: #FFC700;
}

.about-us-link, .contacts-link {
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.contacts-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.contacts-address {
    font-style: normal;
}

.contacts-phone {
    color: #444444;
}

.news {
    background-color: #F0F0F0;
}

.news-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.news-form button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #F0F0F0;
    padding: 18px 39px;
    border: solid 3px #C4C4C4;
    letter-spacing: 0.2em;
}

.news-form input {
    background-color: #F0F0F0;
    border: none;
    outline:none;
    border-bottom: solid 3px #C4C4C4;
}

.page-footer {
    background-color: #444444;
    color: #FFFFFF;
    padding-top: 62px;
    padding-bottom: 61px;
    padding-left: 140px;
}

.footer-contacts-address {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.footer-navigation-list {
    list-style: none;
    padding: 0;
}

.footer-navigation-link {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.footer-phone-number-link {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer-social-item {
    position: relative;
    width: 40px;
    height: 40px;
}

.footer-social-item-telegram a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../images/social-network/telegram-icon.svg");
    background-repeat: no-repeat;
}

.footer-social-item-youtube a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../images/social-network/youtube-icon.svg");
    background-repeat: no-repeat;
}

.footer-social-item-twitter a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../images/social-network/twitter-icon.svg");
    background-repeat: no-repeat;
}

/* Стилизация каталога */

.navigation-link-profile {
    color: #000000;
    text-decoration: none;
}

.navigation-link-output {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.inner-header-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}

.catalog-filter-title {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-filter-group-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: none;
}

.catalog-filter-list{
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    color: #000000;
}

.catalog-filter button {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    background-color: #F0F0F0;
}

.catalog-products {
    background-color: #F0F0F0;
}

.catalog-sorting h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
}

.select-control {
    font-size: 18px;
    line-height: 30px;
    border: none;
    background-color: #F0F0F0;
}

.product-card-link {
    text-decoration: none;
    color: #000000;
}

.product-card-link h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}

.catalog-products-container {
    background-color: #FFFFFF;
    /* width: 840px;
    height: 1310px; */
}

.pagination-show-more {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    border: 3px solid #E5E5E5;
    background-color: #FFFFFF;
    width: 760px;
    height: 55px;
}

.pagination-container {
    background-color: #EBEBEB;
}

.pagination-prev-link {
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.pagination-link {
    text-decoration: none;
    color: rgba(68, 68, 68, 0.3);
}

.pagination-current {
    color: rgba(68, 68, 68, 0.6);
}

.pagination-next-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
