@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
  }

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

.main-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    flex-grow: 1;
 }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation-list-user,
.navigation-list,
.cite-navigation-list,
.cite-navigation-catalog-list,
.services-list,
.services-slider,
.contacts-schedule-list,
.footer-social-list,
.breadcrumbs,
.product-list,
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-header {
    width: 1160px;
    margin: 0 auto;
    z-index: -2;
}

.header-logo {
    z-index: 10;
    position: absolute;
    margin-top: 20px;
    margin-left: 60px;
}

.navigation-container {
    background-color: #FFE17F;
    height: 300px;
    margin-top: 40px;
}

.navigation {
    color: #000000;
    width: 1040px;
    margin: 0 auto;
}

.navigation-inner {
    display: flex;

    /* outline: 5px solid aquamarine; */
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 51px;
}

.form-search {
    margin-top: 46px;
    width: 517px;
    display: flex;
    flex-wrap: nowrap;
}

.search-field input  {
    background-color: #FFE17F;
    border: 2px solid #000000;
    width: 359px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50px 0 0 50px;
    padding: 10px 0 10px 48px;
    outline: none;
}

.search-field input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.form-search button {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFE17F;
    border: 2px solid #000000;
    border-left: none;
    border-radius: 0 50px 50px 0;
    padding: 10px 56px 10px 56px;
    width: 158px;
    height: 40px;
    box-sizing: border-box;
}

.navigation-list-user {
    display: flex;
    margin-left: 27px;
    margin-top: 51px;
}

.cite-navigation-list {
    display: flex;
    margin-top: 30px;
}

.cite-navigation-item {
    margin-top: 15px;
    margin-left: 46px;
}

.cite-navigation-item:first-child {
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    padding: 15px 0;
}

.cite-navigation-item:last-child {
    margin-right: -3px;
}

.cite-navigation-item:nth-child(3n) {
    margin-left: 45px;
}

.navigation-link-user {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    position: relative;
    padding-left: 27px;
    display: flex;
    align-items: center;
}

.navigation-link-user::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    background-image: url("../images/navigation-icon/user-icon.svg");
    background-repeat: no-repeat;
    left: 0;
}

.navigation-link {
    display: flex;
    position: relative;
    align-items: center;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    padding-left: 22px;
}

.navigation-link::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 12px;
    background-image: url("../images/navigation-icon/compare-icon.svg");
    background-repeat: no-repeat;
    left: 0;
}

.navigation-button {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    border: none;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFE17F;
    padding: 0;
}

.namber-of-products {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    background-color: #FFFFFF;
    min-width: 21px;
    min-height: 21px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0 5px;
    margin-right: 22px;
    z-index: 1;
}

.navigation-button::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 14px;
    background-image: url("../images/navigation-icon/card-icon.svg");
    background-repeat: no-repeat;
    right: 86px;
    top: 6px;
}

.cite-navigation-link {
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.cite-navigation-item:first-child .cite-navigation-link::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../images/navigation-icon/catalog-icon.svg");
    background-repeat: no-repeat;
    left: 243px;
}

.cite-navigation-catalog-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
}

.main-slider {
    position: relative;
    width: 1160px;
    margin: 0 auto;
    /* margin-bottom: 70px; */
}

.main-slider-list {
    margin: 0;
    margin-top: -150px;
    margin-bottom: -16px;
    padding: 0;
}

.main-slider-item {
    display: none;
    position: relative;
}

.main-slider-item::before {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 180px;
    line-height: 195px;
    color: #FFFFFF;
}

.main-slider-item:nth-child(1)::before {
    content: '01';
    z-index: -1;
    right: 49px;
}

.main-slider-item-show {
    display: flex;
}

.slider-info {
    width: 560px;
    margin-left: auto;
}

.slider-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 122px 0 29px;
}

.slider-link {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 50px 0;
    padding: 10px 2px;
    text-align: center;
    width: 220px;
}

.slider-desc {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.slider-features {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 12px 20px;
    grid-template-rows: auto auto;
    margin-bottom: 0;
}

.slider-features-value {
    display: inline;
    grid-row-start: 1;
    font-size: 36px;
    line-height: 30px;
}

.slider-features-name {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    margin-left: 0;
}

.pagination-control-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 530px;
    top: 210px;
    left: 30px;
}

.main-slider-button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.slider-pagination-controls {
    display: flex;
    position: relative;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 76px;
    justify-content: space-between;
}

.slider-pagination-controls-button {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.slider-pagination-controls-button-show {
    background-color: #000000;
}

.categories {
    width: 1160px;
    margin: 0 auto;
}

.categories-list {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 0;
}

.categories-item{
    width: 160px;
    height: 253px;
}

.categories-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    letter-spacing: -0.02em;
}

.categories-link-container {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
}

.categories-link p {
    margin: 32px 0 0;
}

.services {
    background-color: #F0F0F0;
    padding-bottom: 72px;
}

.services-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.services-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    border-right: 7px solid #000000;
    padding: 64px 0;
    margin-left: 1px;
}

.services-slider {
    margin-left: 116px;
    width: 694px;
}

.services-slider-item {
    display: none;
}

.services-slider-item-show {
    display: flex;
}

.services-slider-img {
    margin-left: auto;
    margin-top: 5px;
}

.services-button {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    width: 160px;
    border: none;
    background-color: #F0F0F0;
    letter-spacing: 0.2em;
    height: 40px;
    padding: 10px 0;
}

.services-item-current {
    width: 280px;
    background-color: #000000;
}

.services-button-current {
    color: #FFE17F;
    background-color: transparent;
}

.services-slider-item {
   margin: 72.5px 0;
}

.services-slider-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 34px;
}

.services-slider-description {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0;
}

.delivery {
    width: 1160px;
    background-color: #F0F0F0;
    margin: 0 auto;
}

.delivery-button {
    width: 1160px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 37px 0;
}

.wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 532px;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 520px;
}

.about-us-title, .contacts-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 47px 0 18px;
}

.about-us p, .contacts-info {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0;
}

.about-us-list {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin: 0;
    padding-left: 2px;
    list-style-type: none;
}

.about-us-item {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.about-us-item::before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color:#FFC700;
    margin-right: 27px;
}

.about-us-link, .contacts-link {
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 10px 24px;
}

.contacts-link {
    padding: 10px 35px;
}

.contacts-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.contacts-address {
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.contacts-address-text,
.contacts-schedule-list {
    margin: 0;
    margin-top: 15px;
}

.contacts-phone {
    color: #444444;
}

.contacts-schedule-item {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.news {
    background-color: #F0F0F0;
    padding-bottom: 56px;
}

.news-wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.news-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    padding-left: 7.5px;
    margin: 0;
    margin-top: 64px;
}

.news-wrapper p {
    width: 553px;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    margin-top: 74px;
}

.news-form {
    display: flex;
}

.news-form button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #F0F0F0;
    width: 253px;
    box-sizing: border-box;
    padding: 15px 36px;
    border: solid 3px #C4C4C4;
    letter-spacing: 0.2em;
}

.news-form input {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 30px;
    width: 557px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    border: none;
    outline:none;
    border-bottom: solid 3px #C4C4C4;
    padding-left: 16px;
}

.news-form-wrapper {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    margin-top: 143px;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.news-form-wrapper p {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding-left: 32px;
}

.news-form-wrapper p::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../images/check-mark-icon.svg");
    background-repeat: no-repeat;
    left: 0;
}

/* футер */

.page-footer {
    background-color: #444444;
    color: #FFFFFF;
}

.page-footer-container {
    display: flex;
    width: 1160px;
    height: 321px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-addres {
    width: 234px;
    padding-top: 62px;
}

.footer-logo {
    display: block;
    height: 36px;
}

.footer-contacts-address {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    padding-top: 35px;
}

.footer-navigation-social-container {
    width: 444px;
    padding-top: 137px;
}

.footer-navigation-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-navigation-link {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.footer-navigation-item:last-child {
    margin-right: -2px;
}

.footer-social-list {
    display: flex;
    width: 150px;
    height: 162px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.footer-social-item {
    position: relative;
    width: 40px;
    height: 40px;
}

.footer-phone-copy {
    width: 234px;
    height: 116px;
    padding-top: 140px;
}

.footer-phone-number-link {
    display: block;
    width: 175px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: auto;
}

.footer-copy-link {
    display: block;
    width: 115px;
    margin-left: auto;
    margin-top: 63px;
}

.footer-social-item-telegram a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../images/social-network/telegram-icon.svg");
    background-repeat: no-repeat;
}

.footer-social-item-youtube a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../images/social-network/youtube-icon.svg");
    background-repeat: no-repeat;
}

.footer-social-item-twitter a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../images/social-network/twitter-icon.svg");
    background-repeat: no-repeat;
}

/* Стилизация каталога */

.navigation-container-catalog {
    background-color: #FFE17F;
    height: 186px;
    margin-top: 40px;
}

.navigation-link-profile {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    position: relative;
    padding-left: 27px;
    display: flex;
    align-items: center;
    padding-right: 28px;
}

.navigation-link-profile::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    background-image: url("../images/navigation-icon/user-icon.svg");
    background-repeat: no-repeat;
    left: 0;
}

.navigation-link-output {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
}

.inner-header {
    width: 1040px;
    margin: 0 auto;
    padding-bottom: 34px;
}

.inner-header-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 36px 0 15px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}

.filter {
    width: 320px;
    padding-left: 60px;
}

.catalog-filter-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin: 25px 0 58px -1px;
}

.breadcrumbs {
    display: flex;
    width: 429px;
    justify-content: space-between;
}

.catalog-filter-group-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: none;
}

.catalog-filter-list{
    font-size: 16px;
    line-height: 20px;
    list-style: none;
}

.catalog-filter button {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    background-color: #F0F0F0;
}

.catalog-products {
    background-color: #F0F0F0;
}

.catalog-products-wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.catalog {
    width: 840px;
}

.catalog-sorting {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    height: 70px;
}

.catalog-sorting h3 {
    width: 147px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: auto 0;
}

.select-control {
    font-family: 'Rubik', sans-serif;
    width: 141px;
    font-size: 18px;
    line-height: 30px;
    border: none;
    background-color: #F0F0F0;
    margin-right: 9px;
}

.catalog-control {
    display: flex;
    position: relative;
    align-items: center;
    width: 60px;
}

.catalog-control-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}

.catalog-control-ascending::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../images/arrow-up.svg");
    background-repeat: no-repeat;
    fill-opacity: 0.2;
}

.catalog-control-descending::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
}

.product-card-link {
    display: grid;
    grid-row-gap: 32px;
    text-decoration: none;
    color: #000000;
}

.product-card-img {
    grid-column: 1 / span 2;
}

.product-card-title,
.product-card-price {
    margin: 0;
    grid-row: 2;
}

.product-card-link h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}

.catalog-products-container {
    background-color: #FFFFFF;
    padding: 70px 40px 78px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 40px;
}

.pagination-show-more {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 3px solid #E5E5E5;
    background-color: #FFFFFF;
    width: 760px;
    height: 55px;
    padding: 0;
    margin: 44px 0;
    padding-left: 4px;
}

.pagination-container {
    display: flex;
    height: 71px;
    justify-content: space-between;
    background-color: #EBEBEB;
    align-items: center;
}

.pagination {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: rgba(68, 68, 68, 0.3);
}

.pagination-prev,
.pagination-next {
    display: block;
    color: rgba(68, 68, 68, 0.3);
    padding: 25px;
    text-decoration: none;
}

.pagination-next {
    padding-left: 27px;
    padding-right: 21px;
}

.pagination-prev-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.pagination-current {
    color: rgba(68, 68, 68, 0.6);
}

.pagination-next-link {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
