@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
  }

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

.main-container {
    flex-grow: 1;
 }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation-list-user,
.navigation-list,
.cite-navigation-list,
.cite-navigation-catalog-list,
.services-list,
.services-slider,
.contacts-schedule-list,
.footer-social-list,
.breadcrumbs-item,
.product-list,
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-header {
    width: 1160px;
    margin: 0 auto;
}

.navigation-container {
    background-color: #FFE17F;
}

.navigation {
    color: #000000;
    width: 1040px;
    margin: 0 auto;
}

.navigation-inner {
    display: flex;

    /* outline: 5px solid aquamarine; */
}

.navigation-list {
    max-width: 360px;
    margin-left: auto;
}

.search-field {
    border: 2px solid #000000;
    padding: 10px 192px 10px 48px;
    border-radius: 50px 0 0 50px;
}

.search-field input  {
    background-color: #FFE17F;
    border: none;
}

.search-field button {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.search-field input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.form-search button {
    font-size: 16px;
    line-height: 20px;
    background-color: #FFE17F;
    border: 2px solid #000000;
    border-left: none;
    border-radius: 0 50px 50px 0;
    padding: 10px 56px;
}

.navigation-list-user {
    margin-left: 27px;
}

.navigation-link-user {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    position: relative;
    padding-left: 27px;
    display: flex;
    align-items: center;
}

.navigation-link-user::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    background-image: url("../images/navigation-icon/user-icon.svg");
    background-repeat: no-repeat;
    left: 0;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
}

.navigation-button {
    font-family: 'Rubik', sans-serif;
    border: none;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFE17F;
    padding: 0;
}

.namber-of-products {
    font-size: 14px;
    line-height: 16px;
}

.cite-navigation-link {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.cite-navigation-catalog-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
}

.main-slider {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.main-slider-item {
    display: none;
}

.main-slider-item-show {
    display: flex;
}

.slider-info {
    width: 560px;
    margin-left: auto;
}

.slider-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.slider-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.slider-desc {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.slider-features-value {
    font-size: 36px;
    line-height: 30px;
}

.slider-features-name {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    margin-left: 0;
}

.main-slider-button {
    border: none;
    background-color: #FFFFFF;
}

.slider-pagination-controls {
    display: flex;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 76px;
    justify-content: space-between;
}

.slider-pagination-controls-button {
    width: 12px;
    height: 12px;
    padding: 0;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.slider-pagination-controls-button-show {
    background-color: #000000;
}

.categories {
    width: 1160px;
    margin: 0 auto;
}

.categories-list {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.categories-item{
    width: 160px;
    height: 253px;
}

.categories-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    letter-spacing: -0.02em;
}

.categories-link-container {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
}

.services {
    background-color: #F0F0F0;
    margin: 70px 0;
}

.services-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.services-list {
    width: 280px;
    border-right: 7px solid #000000;
}

.services-slider {
    margin-left: 116px;
    width: 694px;
}

.services-slider-item {
    display: none;
}

.services-slider-item-show {
    display: flex;
}

.services-slider-img {
    margin-left: auto;
}

.services-button {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    border: none;
    background-color: #F0F0F0;
    letter-spacing: 0.2em;
    height: 40px;
}

.services-button-current {
    width: 280px;
    color: #FFE17F;
    background-color: #000000;
}

.services-slider-title {
    font-size: 50px;
    line-height: 50px;
}

.services-slider-description {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.delivery {
    width: 1160px;
    background-color: #F0F0F0;
    margin: 0 auto;
}

.delivery-button {
    width: 1160px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0;
}

.wrapper {
    display: flex;
    width: 1160px;
    margin: 70px auto;
    justify-content: space-between;
}

.about-us {
    width: 520px;
}

.contacts {
    width: 532px;
}

.about-us-title, .contacts-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.about-us p, .contacts-info {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.about-us-item {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.about-us-item::marker {
    color: #FFC700;
}

.about-us-link, .contacts-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.contacts-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.contacts-address {
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.contacts-phone {
    color: #444444;
}

.contacts-schedule-item {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.news {
    background-color: #F0F0F0;
}

.news-wrapper {
    display: flex;
    width: 1160px;
    padding-left: 7px;
    margin: 0 auto;
    justify-content: space-between;
}

.news-title {
    width: 348px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.news-wrapper p {
    width: 553px;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.news-form button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #F0F0F0;
    padding: 18px 39px;
    border: solid 3px #C4C4C4;
    letter-spacing: 0.2em;
}

.news-form input {
    width: 557px;
    background-color: #F0F0F0;
    border: none;
    outline:none;
    border-bottom: solid 3px #C4C4C4;
}

.news-form input::placeholder {
  padding-left: 16px;
}

.news-form-wrapper {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.news-form-wrapper p {
    margin-left: auto;
}

/* футер */

.page-footer {
    background-color: #444444;
    color: #FFFFFF;
}

.page-footer-container {
    display: flex;
    width: 1160px;
    height: 321px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-addres {
    width: 234px;
    padding-top: 62px;
}

.footer-contacts-address {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    padding-top: 35px;
}

.footer-navigation-social-container {
    width: 444px;
    padding-top: 137px;
}

.footer-navigation-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-navigation-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.footer-social-list {
    display: flex;
    width: 150px;
    height: 162px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.footer-social-item {
    position: relative;
    width: 40px;
    height: 40px;
}

.footer-phone-copy {
    width: 234px;
    height: 116px;
    padding-top: 140px;
}

.footer-phone-number-link {
    display: block;
    width: 175px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: auto;
}

.footer-copy-link {
    display: block;
    width: 115px;
    margin-left: auto;
    margin-top: 63px;
}

.footer-social-item-telegram a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../images/social-network/telegram-icon.svg");
    background-repeat: no-repeat;
}

.footer-social-item-youtube a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../images/social-network/youtube-icon.svg");
    background-repeat: no-repeat;
}

.footer-social-item-twitter a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../images/social-network/twitter-icon.svg");
    background-repeat: no-repeat;
}

/* Стилизация каталога */

.navigation-link-profile {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.navigation-link-output {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
}

.inner-header-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}

.catalog-filter-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-filter-group-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: none;
}

.catalog-filter-list{
    font-size: 16px;
    line-height: 20px;
    list-style: none;
}

.catalog-filter button {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    background-color: #F0F0F0;
}

.catalog-products {
    background-color: #F0F0F0;
}

.catalog-sorting h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.select-control {
    font-size: 18px;
    line-height: 30px;
    border: none;
    background-color: #F0F0F0;
}

.product-card-link {
    text-decoration: none;
    color: #000000;
}

.product-card-link h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}

.catalog-products-container {
    background-color: #FFFFFF;
    /* width: 840px;
    height: 1310px; */
}

.pagination-show-more {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    border: 3px solid #E5E5E5;
    background-color: #FFFFFF;
    width: 760px;
    height: 55px;
}

.pagination-container {
    background-color: #EBEBEB;
}

.pagination-prev-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: rgba(68, 68, 68, 0.3);
}

.pagination-current {
    color: rgba(68, 68, 68, 0.6);
}

.pagination-next-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
