@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
  }

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    max-width: 100%;
    min-height: 100%;
  }

.main-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    flex-grow: 1;
 }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation-list-user,
.navigation-list,
.cite-navigation-list,
.cite-navigation-catalog-list,
.services-list,
.services-slider,
.contacts-schedule-list,
.footer-social-list,
.breadcrumbs,
.product-list,
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-header {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.header-logo:focus {
    outline: 2px solid #AF4FFF;
}

.header-logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 60px;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

.navigation-container {
    background-color: #FFE17F;
    height: 300px;
    margin-top: 40px;
}

.navigation {
    color: #000000;
    width: 1040px;
    padding: 0 60px;
}

.navigation-inner {
    display: flex;
    column-gap: 27px;
    align-items: center;
    padding-top: 46px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    margin-left: auto;
    justify-content: space-between;
}

.form-search {
    position: relative;
    width: 517px;
    display: flex;
    flex-wrap: nowrap;
}

.search-field input  {
    background-color: transparent;
    border: 2px solid #000000;
    width: 359px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50px 0 0 50px;
    padding: 10px 0 10px 48px;
}

.search-field input:disabled {
    opacity: 0.3;
}

.search-field::before {
    content: url("../images/navigation-icon/search-icon.svg");
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 16px;
}

.search-field input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.form-search button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    border: 2px solid #000000;
    border-left: none;
    border-radius: 0 50px 50px 0;
    padding: 10px 56px 10px 56px;
    width: 158px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.form-search button:disabled {
    opacity: 0.3;
}

.form-search button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.form-search button:active {
    background-color: #000000;
    color: rgba(255,255,255,0.3);
}

.navigation-list-user {
    display: flex;
}

.navigation-item-user:focus,
.navigation-link:focus,
.cite-navigation-item:focus {
    outline: 2px solid #AF4FFF;
}

.navigation-item-user:hover,
.navigation-link:hover,
.cite-navigation-item:not(:first-child):hover {
    opacity: 0.6;
}

.navigation-item-user:active,
.navigation-link:active,
.cite-navigation-item:not(:first-child):active {
    opacity: 0.3;
}

.cite-navigation-list {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.cite-navigation-item:first-child {
    margin-top: -1px;
    margin-right: auto;
}

.cite-navigation-item:last-child {
    margin-right: -4px;
}

.navigation-link-user {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    position: relative;
    padding-left: 27px;
    display: flex;
    align-items: center;
}

.navigation-link-user::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 12px;
    background-image: url("../images/navigation-icon/user-icon.svg");
    background-repeat: no-repeat;
    left: 0;
}

.navigation-link {
    display: flex;
    position: relative;
    align-items: center;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    padding-left: 22px;
}

.navigation-link::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 12px;
    background-image: url("../images/navigation-icon/compare-icon.svg");
    background-repeat: no-repeat;
    left: 0;
}

.navigation-button {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "Rubik", sans-serif;
    border: none;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFE17F;
    padding: 0;
    cursor: pointer;
}

.navigation-button:hover {
    opacity: 0.6;
}

.navigation-button:active {
    opacity: 0.3;
}

.namber-of-products {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    background-color: #FFFFFF;
    min-width: 21px;
    min-height: 21px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0 5px;
    margin-right: 22px;
    z-index: 1;
}

.navigation-button::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 14px;
    background-image: url("../images/navigation-icon/card-icon.svg");
    background-repeat: no-repeat;
    right: 86px;
    top: 6px;
}

.cite-navigation-link {
    display: flex;
    position: relative;
    align-items: center;
    font-family: "Raleway", sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 11px 23.6px;
}

.cite-navigation-link-active {
    border-bottom: 2px solid #000000;
    padding: 4px 0;
}

.cite-navigation-item:first-child .cite-navigation-link {
    padding: 0;
}

.cite-navigation-item:nth-child(2) .cite-navigation-link {
    padding-right: 21px;
}

.cite-navigation-item:last-child .cite-navigation-link {
    padding-right: 0;
}

.cite-navigation-item-catalog {
    display: flex;
}

.cite-navigation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin-left: 17px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
}

.cite-navigation-button::before {
    content: "";
    width: 16px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cite-navigation-button-opened::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cite-navigation-item-catalog:hover .cite-navigation-button {
    border-color: #000000;
}

.cite-navigation-item-catalog:active .cite-navigation-button {
    border-color: #000000;
}

.cite-navigation-item-catalog:hover .cite-navigation-button::before {
    background-color: rgba(0, 0, 0, 1);
}

.cite-navigation-item-catalog:hover .cite-navigation-button::after {
    background-color: rgba(0, 0, 0, 1);
}

.cite-navigation-item-catalog:active .cite-navigation-button::before {
    background-color: rgba(0, 0, 0, 1);
}

.cite-navigation-item-catalog:active .cite-navigation-button::after {
    background-color: rgba(0, 0, 0, 1);
}

.cite-navigation-catalog-list {
    display: none;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin: 40px 0 0 -60px;
    padding: 24px 0 57px 60px;
    grid-template-columns: 252px 212px 212px;
    grid-template-rows: repeat(3,18px);
    row-gap: 18px;
    background-color: #FFE17F;
    z-index: 2;
}

.cite-navigation-item:hover .cite-navigation-catalog-list,
.cite-navigation-item:focus-within .cite-navigation-catalog-list,
.cite-navigation-catalog-list:hover {
    display: grid;
}

.cite-navigation-catalog-item {
    grid-column: 1;
}

.cite-navigation-catalog-item:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
}

.cite-navigation-catalog-item:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
}

.cite-navigation-catalog-item:nth-child(6) {
    grid-column: 3;
    grid-row: 1;
}


.cite-navigation-catalog-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
}

.cite-navigation-catalog-link:hover {
    opacity: 0.6;
}

.cite-navigation-catalog-link:active {
    opacity: 0.3;
}

.cite-navigation-catalog-link-active {
    border-bottom: 1px solid #000000;
}

.main-slider {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.main-slider-list {
    margin: 0;
    margin-top: -135px;
    margin-bottom: -16px;
    padding: 0;
}

.main-slider-item {
    display: none;
    position: relative;
}

.main-slider-item::before {
    position: absolute;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 180px;
    line-height: 165px;
    color: #FFFFFF;
    pointer-events: none;
}

.main-slider-item:nth-child(1)::before {
    content: "01";
    right: 49px;
}

.main-slider-item:nth-child(2)::before {
    content: "02";
    right: 49px;
}

.main-slider-item:nth-child(3)::before {
    content: "03";
    right: 49px;
}

.main-slider-item-show {
    display: flex;
}

.slider-img-wrapper {
    margin-top: -15px;
    pointer-events: none;
}

.slider-info {
    width: 560px;
    margin-left: auto;
    z-index: 1;
}

.slider-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 107px 0 29px;
}

.slider-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 50px 0;
    padding: 10px 0;
    text-align: center;
    width: 220px;
}

.slider-link::before {
    content: "";
    width: 220px;
    height: 8px;
    position: absolute;
    background-color: #FFE17F;
    z-index: -1;
    transition: all 0.4s ease;
}

.slider-link:focus {
    outline: 2px solid #AF4FFF;
}

.slider-link:hover::before {
    height: 100%;
}

.slider-link:active::before {
    background-color: #FFCC33;
    height: 100%;
}

.slider-link:disabled,
.services-button:disabled,
.about-us-link:disabled,
.contacts-link:disabled,
.catalog-filter-button:disabled,
.product-card-button span:disabled {
    opacity: 0.3;
}

.slider-desc {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.slider-features {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 12px 20px;
    grid-template-rows: auto auto;
    margin-bottom: 0;
}

.slider-features-self {
    grid-gap: 12px 40px;
}

.slider-features-value {
    display: inline;
    grid-row-start: 1;
    font-size: 36px;
    line-height: 30px;
}

.slider-features-name {
    grid-row-start: 2;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    margin-left: 0;
}

.pagination-control-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 530px;
    top: 61px;
    left: 30px;
}

.main-slider-button {
    border: none;
    height: 60px;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.main-slider-button:focus {
    outline: 2px solid #AF4FFF;
}

.main-slider-button:hover {
    opacity: 0.6;
}

.main-slider-button:active {
    opacity: 0.3;
}

.main-slider-button:disabled {
    opacity: 0.2;
}

.slider-pagination-controls {
    display: flex;
    position: relative;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 76px;
    justify-content: space-between;
    z-index: 2;
}

.slider-pagination-controls-button {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.slider-pagination-controls-button-show {
    background-color: #000000;
}

.slider-pagination-controls-button:focus {
    outline: 2px solid #AF4FFF;
}

.slider-pagination-controls-button:hover {
    opacity: 0.6;
}

.slider-pagination-controls-button:active {
    opacity: 0.3;
}

.categories {
    width: 1160px;
    margin: 0 auto;
}

.categories-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 40px;
    margin: 0;
}

.categories-item{
    width: 160px;
    height: 253px;
}

.categories-link {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    letter-spacing: -0.02em;
    outline: none;
}

.categories-link-container {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
}

.categories-link:hover .categories-link-container {
    background-color: #FFC700;
}

.categories-link:active {
    opacity: 0.3;
}

.categories-link:focus::before {
    outline: 2px solid #AF4FFF;
    content: "";
    width: 160px;
    height: 253px;
    position: absolute;
    outline-offset: 2px;
}


.categories-link p {
    margin: 32px 0 0;
}

.services {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-bottom: 72px;
    justify-content: end;
    margin-left: -1px;
}

.services::after {
    content: "";
    position: absolute;
    background-color: #F0F0F0;
    width: 100%;
    height: calc(100% - 102px);
    z-index: -2;
    top: 102px;
    bottom: 0;
}

.services-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.services-list {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    border-right: 7px solid #000000;
    padding: 64px 0;
    margin-left: 1px;
}

.services-slider {
    margin-left: 116px;
}

.services-slider-item {
    display: none;
    width: 694px;
}

.services-slider-item:nth-child(2),
.services-slider-item:nth-child(3) {
    width: 729px;
}

.services-slider-item-show {
    display: flex;
}

.services-slider-img {
    margin-left: auto;
    margin-top: 5px;
}

.services-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    width: 160px;
    border: none;
    background-color: transparent;
    letter-spacing: 0.2em;
    height: 40px;
    padding: 10px 0;
    cursor: pointer;
}

.services-button::before {
    content: "";
    width: 160px;
    height: 8px;
    position: absolute;
    background-color: #FFE17F;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease;
}

.services-button:focus {
    outline: 2px solid #AF4FFF;
}

.services-button:hover::before  {
    height: 100%;
}

.services-button:active::before  {
    background-color: #FFCC33;
    height: 100%;
}

.services-item-current {
    width: 280px;
    background-color: #000000;
}

.services-button-current:hover,
.services-button-current:active,
.services-button-current:focus {
    justify-content: end;
}

.services-item-current:focus {
    outline: 2px solid #AF4FFF;
}

.services-button-current {
    color: #FFE17F;
    background-color: transparent;
}

.services-slider-item {
   margin: 72.5px 0;
}

.services-slider-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 34px;
}

.services-slider-description {
    max-width: 500px;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0;
}

.delivery {
    width: 1160px;
    background-color: #F0F0F0;
    margin: 0 auto;
}

.delivery-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100px;
    background-color: #FFE17F;
    transition: 0.5s opacity;
}

.delivery-text {
    margin-top: 4px;
    margin-left: 4px;
}

.delivery-info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100px;
}

.delivery-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.delivery-button:hover .delivery-icon {
    background-color: #FFC700;
}

.delivery-info-icon-g {
    transition: 0.5s opacity;
}

.delivery-button:hover .delivery-info-icon-g {
    opacity: 1;
}

.delivery-button:active {
    opacity: 0.3;
}

.navigation-link-profile:focus,
.navigation-link-output:focus,
.search-field input:focus,
.form-search button:focus,
.delivery-button:focus,
.contacts-phone:focus,
.navigation-link-user:focus,
.navigation-link:focus,
.navigation-button:focus,
.cite-navigation-link:focus,
.cite-navigation-catalog-link:focus,
.cite-navigation-button:focus,
.pagination-link:focus,
.pagination-prev:focus,
.pagination-next:focus {
    outline: 2px solid #AF4FFF;
    z-index: 10;
}


.wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 1px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 532px;
}

.contacts::before {
    content: "";
    position: absolute;
    width: 84px;
    height: 7px;
    background-color: #000000;
    margin-top: -1px;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 520px;
}

.about-us::before {
    content: "";
    position: absolute;
    width: 84px;
    height: 7px;
    background-color: #000000;
    margin-top: -1px;
}

.about-us-title, .contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 47px 0 18px;
}

.about-us p, .contacts-info {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0;
}

.about-us-list {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin: 0;
    padding-left: 2px;
    list-style-type: none;
}

.about-us-item {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.about-us-item::before {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color:#FFC700;
    margin-right: 27px;
}

.about-us-link, .contacts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 10px 24px;
}

.about-us-link::before,
.contacts-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #FFE17F;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease;
}

.about-us-link:focus,
.contacts-link:focus {
    outline: 2px solid #AF4FFF;
}

.about-us-link:hover::before,
.contacts-link:hover::before {
    height: 100%;
}

.about-us-link:active::before,
.contacts-link:active::before {
    background-color: #FFCC33;
    height: 100%;
}

.contacts-link {
    padding: 10px 35px;
}

.contacts-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.contacts-address {
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.contacts-address-text,
.contacts-schedule-list {
    margin: 0;
    margin-top: 15px;
}

.contacts-phone {
    color: #444444;
}

.contacts-schedule-item {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.news {
    background-color: #F0F0F0;
    margin-top: -1px;
    padding-bottom: 56px;
}

.news-wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.news-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    padding-left: 7.5px;
    margin: 0;
    margin-top: 64px;
}

.news-wrapper p {
    width: 553px;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    margin-top: 74px;
}

.news-form {
    display: flex;
}

.news-form input:invalid {
    border: 3px solid #FF3D3D;
}

.news-form button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #F0F0F0;
    width: 253px;
    box-sizing: border-box;
    padding: 15px 36px;
    border: solid 3px #C4C4C4;
    letter-spacing: 0.2em;
    cursor: pointer;
}

.news-form button:focus {
    outline: 2px solid #AF4FFF;
}

.news-form button:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #000000;
}

.news-form button:active {
    background-color: #000000;
    color: rgba(255,255,255,0.3);
    border-color: #000000;
}

.news-form button:disabled {
    opacity: 0.3;
}

.news-form input {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    width: 557px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    border: none;
    outline:none;
    border-bottom: solid 3px #C4C4C4;
    padding-left: 16px;
}

.news-form-wrapper {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    margin-top: 143px;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.news-form-wrapper p {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding-left: 32px;
}

.news-form-wrapper p::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../images/check-mark-icon.svg");
    background-repeat: no-repeat;
    left: 0;
}

/* футер */

.page-footer {
    background-color: #444444;
    color: #FFFFFF;
}

.page-footer-container {
    display: flex;
    width: 1160px;
    min-height: 321px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-addres {
    width: 240px;
    padding-top: 62px;
    padding-left: 1px;
}

.footer-contacts-address::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #FFC700;
    bottom: 77px;
}

.footer-logo {
    display: block;
    height: 36px;
}

.footer-logo-img:hover {
    opacity: 0.6;
}

.footer-logo-img:active {
    opacity: 0.3;
}

.footer-logo:focus {
    outline: 2px solid #AF4FFF;
}

.footer-contacts-address {
    position: relative;
    word-break: break-all;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 35px 0 148px;
}

.footer-navigation-social-container {
    width: 445px;
    padding-top: 137px;
    margin-left: -6px;
}

.footer-navigation-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-navigation-item:nth-child(3n) {
    margin-right: -3px;
}

.footer-navigation-link {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 4px 0;
    margin-top: -4px;
    border-bottom: 2px solid transparent;
}

.footer-navigation-link:hover {
    color: #FFC700;
    border-bottom: 2px solid #FFC700;
}

.footer-phone-number-link:hover {
    color: #FFC700;
}

.footer-navigation-link:active,
.footer-phone-number-link:active {
    opacity: 0.3;
}

.footer-navigation-link:focus,
.footer-phone-number-link:focus {
    outline: 2px solid #AF4FFF;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    row-gap: 12px;
    margin: 0 auto;
    margin-top: 56px;
}

.footer-social-item {
    position: relative;
    width: 40px;
    height: 40px;
}

.footer-phone-copy {
    width: 234px;
    height: 116px;
    padding-top: 140px;
}

.footer-phone-number-link {
    display: block;
    width: 175px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: auto;
}

.footer-copy-link {
    display: block;
    width: 115px;
    margin-left: auto;
    margin-top: 63px;
}

.footer-copy-link:focus {
    outline: 2px solid #AF4FFF;
}

.footer-copy-link:hover .footer-copy-link-icon path {
    fill: #FFFFFF;
}

.footer-copy-link:active .footer-copy-link-icon path {
    fill: rgba(255,255,255,0.3);
}

.footer-social-item a:focus {
    outline: 2px solid #AF4FFF;
}

.footer-social-item:hover .social-icon circle {
    fill: #FFC700;
    fill-opacity: 1;
}

.footer-social-item:active .social-icon g {
    opacity: 0.3;
}

/* Стилизация каталога */

.navigation-container-catalog {
    height: 186px;
}

.navigation-link-profile {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    position: relative;
    padding-left: 27px;
    display: flex;
    align-items: center;
    padding-right: 28px;
    white-space: nowrap;
}

.navigation-link-profile::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 12px;
    background-image: url("../images/navigation-icon/user-icon.svg");
    background-repeat: no-repeat;
    left: 0;
}

.navigation-link-output {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
}

.inner-header {
    width: 1040px;
    margin: 0 auto;
    padding-bottom: 34px;
}

.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 36px 0 15px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    transition: 0.5s opacity;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.breadcrumbs-link:focus {
    outline: 2px solid #AF4FFF;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    top: 6.5px;
    background-image: url("../images/breadcrumbs.svg");
    background-repeat: no-repeat;
    margin-left: 16px;
    opacity: 0.3;
}

.breadcrumbs-item:last-child:after {
    content: none;
}

.filter {
    width: 320px;
    padding-left: 60px;
}

.catalog-filter-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin: 25px 0 58px -1px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 36px;
}

.range-scale {
    width: 200px;
    position: relative;
    height: 2px;
    margin: 8px 0 14px;
    background-color: #DCDCDC;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #000000;
}

.range-toggle {
    padding: 0;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #F0F0F0;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle:hover {
    border-color: rgba(0, 0, 0, 0.6);
}

.range-toggle:active {
    border-color: #000000;
    background-color: #000000;
}

.range-toggle:focus,
.range-input:focus {
    outline: 2px solid #AF4FFF;
}

.range-input:focus .catalog-filter-label {
    outline: 2px solid #AF4FFF;
}

.toggle-min {
    top: -8px;
    left: -18px;
}

.toggle-max {
    top: -8px;
    right: 0;
}

.range-wrapper-inputs {
    display: flex;
    margin-left: -12px;
}

.catalog-filter-label {
    position: relative;
    display: flex;
    color:rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.catalog-filter-label span {
    position: absolute;
}

.catalog-filter-label:last-child {
    margin-left: 72px;
}

.range-input {
    color:rgba(0, 0, 0, 0.3);
    width: 30px;
    padding: 0;
    font: inherit;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
    padding-left: 14px;
  }

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label {
    display: flex;
    margin: 0;
}

.catalog-filter-group {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
}

.control {
    display: flex;
    row-gap: 17px;
    cursor: pointer;
}

.control-input[type="radio"]:focus+ .control-bluetooth {
    outline: 2px solid #AF4FFF;
    }

.control-input[type="checkbox"]:focus+ .control-color {
outline: 2px solid #AF4FFF;
}

.control:hover {
    opacity: 0.6;
}

.control:active {
    opacity: 0.3;
}

.control:disabled {
    opacity: 0.2;
}

.control-color {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid #CCCCCC;
    border-radius: 3px;
    margin-right: 16px;
}

.control:focus-visible .control-color {
    outline: 2px solid #AF4FFF;
}

.control-input[type="checkbox"]:checked + .control-color {
    border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-color::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("../images/check-mark-filter-color.svg");
    background-repeat: no-repeat;
    left: 3px;
    top: 3px;
}

.control-bluetooth {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    margin-right: 16px;
    box-sizing: border-box;
}

.control-input[type="radio"]:checked + .control-bluetooth {
    border: 2px solid #000000;
}

.control-input[type="radio"]:checked + .control-bluetooth::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
    left: 4px;
    top: 4px;
}


.catalog-filter-group-title {
    width: 200px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: none;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 12px;
    border-top: 2px solid #000000;
}

.catalog-filter-list{
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    margin-bottom: -2px;
    padding: 0;
}

.catalog-filter-list-bluetooth {
    row-gap: 20px;
}

.catalog-filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 220px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    padding: 12px 5px 12px 7px;
    cursor: pointer;
    z-index: 2;
}

.catalog-filter-button::before {
    content: "";
    width: 220px;
    height: 8px;
    position: absolute;
    background-color: #FFE17F;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease;
}

.catalog-filter-button:focus {
    outline: 2px solid #AF4FFF;
}

.catalog-filter-button:hover::before {
    height: 100%;
}

.catalog-filter-button:active::before {
    background-color: #FFCC33;
    height: 100%;
}

.catalog-products {
    position: relative;
    background-color: #F0F0F0;
}

.catalog-products-wrapper {
    display: flex;
    column-gap: 40px;
    width: 1160px;
    margin: 0 auto;
}

.catalog {
    width: 840px;
}

.catalog-sorting {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    height: 70px;
}

.catalog-sorting h3 {
    width: 147px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: auto 0;
}

.select-control {
    font-family: "Rubik", sans-serif;
    width: 141px;
    font-size: 18px;
    line-height: 30px;
    border: none;
    background-color: #F0F0F0;
    margin-right: 9px;
    cursor: pointer;
}

.select-control:hover {
    opacity: 0.6;
}

.select-control:active {
    opacity: 0.3;
}

.select-control:disabled {
    opacity: 0.2;
}

.select-control:focus {
    outline: 2px solid #AF4FFF;
}

.catalog-control {
    display: flex;
    position: relative;
    align-items: center;
    width: 60px;
}

.catalog-control-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    opacity: 0.2;
}

.catalog-control-link:hover {
    opacity: 0.5;
}

.catalog-control-link:active {
    opacity: 1;
}

.catalog-control-link:focus {
    outline: 2px solid #AF4FFF;
}

.catalog-control-ascending::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../images/arrow-up.svg");
    background-repeat: no-repeat;
    fill-opacity: 0.2;
}

.catalog-control-descending::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
}

.product-card-link {
    display: grid;
    grid-row-gap: 32px;
    text-decoration: none;
    color: #000000;
}

.product-card-new::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../images/new_icon.svg");
    background-repeat: no-repeat;
    top: 27px;
    right: 27px;
}

.product-card-img {
    grid-column: 1 / span 2;
}

.product-card-title,
.product-card-price {
    margin: 0;
    grid-row: 2;
}

.product-card-link h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}

.product-card-button {
    display: none;
    text-decoration: none;
    width: 220px;
}

.product-card {
    position: relative;
}

.product-card:hover .product-card-button {
    display: block;
    position: absolute;
    left: 70px;
    top: 170px;
    z-index: 2;
  }

.product-card-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 220px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    padding: 10px 5px;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
    color: #000000;
}

.product-card-button span::before {
    content: "";
    width: 220px;
    height: 8px;
    position: absolute;
    background-color: #FFE17F;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease;
}

.product-card-button span:hover::before {
    height: 100%;
}

.product-card-button span:active::before {
    background-color: #FFC700;
}

.product-card-button:focus {
    outline: 2px solid #AF4FFF;
}

.product-card-link:hover {
    opacity: 0.6;
}

.product-card-link:active {
    opacity: 0.3;
}

.product-card-link:focus {
    outline: 2px solid #AF4FFF;
}

.catalog-products-container {
    background-color: #FFFFFF;
    padding: 70px 40px 78px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 40px;
}

.pagination-show-more {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 3px solid #E5E5E5;
    background-color: #FFFFFF;
    width: 760px;
    height: 55px;
    padding: 0;
    margin: 44px 0;
    padding-left: 4px;
    cursor: pointer;
}

.pagination-show-more:focus {
    outline: 2px solid #AF4FFF;
}

.pagination-show-more:hover {
    border-color: #000000;
}

.pagination-show-more:active {
    border-color: #C4C4C4;
    color: #C4C4C4;
}

.pagination-show-more:disabled {
    opacity: 0.3;
}

.pagination-container {
    display: flex;
    height: 71px;
    justify-content: space-between;
    background-color: #EBEBEB;
    align-items: center;
}

.pagination {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: rgba(68, 68, 68, 0.3);
}

.pagination-link:hover {
    color: #444444;
}

.pagination-link:active {
    opacity: 0.1;
}

.pagination-catalog-button {
    display: block;
    color: #000000;
    padding: 25px;
    text-decoration: none;
}

.pagination-catalog-button:hover {
    background-color: #DCDCDC;
}

.pagination-catalog-button:active {
    color: rgb(0, 0, 0, 0.3);
}

.pagination-disabled:hover {
    background-color: transparent;
}

.pagination-disabled {
    display: block;
    color: rgba(68, 68, 68, 0.3);
    padding: 25px;
    text-decoration: none;
}

.pagination-next {
    padding-left: 27px;
    padding-right: 21px;
}

.pagination-prev-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.pagination-current {
    color: rgba(68, 68, 68, 0.6);
}

.pagination-next-link {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

/* Стилизация поповера */

.navigation-item {
    position: relative;
}

.popover {
    display: none;
    position: absolute;
    z-index: 2;
    width: 320px;
    box-sizing: border-box;
    left: -126px;
}

.popover-open {
    display: block;
}

.navigation-button:hover + .popover, .popover:hover {
    display: block;
}

.popover-cart-container {
    position: relative;
    background-color: #000000;
    width: 100%;
    min-height: 140px;
    margin-top: 6px;
    padding-bottom: 20px;
}

.popover-cart-container::before {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-bottom: 7px solid #000000;
    top: -12px;
    left: 153px;
}

.cart-items-list {
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.cart-item-link {
    display: flex;
    text-decoration: none;
}

.cart-item-link:hover {
    opacity: 0.6;
}

.cart-item-link:active {
    opacity: 0.3;
}

.cart-item-link:focus {
    outline: 2px solid #AF4FFF;
}

.product-cart-title {
    word-break: break-all;
    color: #FFFFFF;
    padding-left: 23px;
    margin: 0;
}

.product-cart-button {
    position: relative;
    align-self: flex-start;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-image: url("../images/cross.svg");
    background-repeat: no-repeat;
    padding: 0;
}

.product-cart-button:hover {
    opacity: 0.6;
}

.product-cart-button:active {
    opacity: 0.3;
}

.product-cart-button:focus {
    outline: 2px solid #AF4FFF;
}

.popover-product-num,
.popover-product-price {
    color: #FFFFFF;
    margin: 0;
}

.popover-product-info {
    display: flex;
    justify-content: space-between;
    padding: 12.5px 20px;
    background-color: #1A1A1A;
}

.popover-cart-link {
    display: block;
    margin: 21px 20px 0;
    text-decoration: none;
}

.popover-cart-link span {
    display: block;
    background-color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 21px;
    padding: 14.5px 0;
    color: #000000;
}

.popover-cart-link span:hover {
    background-color: #FFE17F;
}

.popover-cart-link span:active,
.popover-cart-link span:disabled {
    color: rgba(0, 0, 0, 0.3);
}

.popover-cart-link:focus {
    outline: 2px solid #AF4FFF;
}


/* Стилизация модалки */

.modal-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
  }

.modal-container-close {
    display: none;
}

.modal-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 920px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 10px solid #000000;
    padding: 62px 70px;
    gap: 42px;
}

.modal-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.modal-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

.modal-form-name-email,
.modal-bring-quantity {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.fieldset-name,
.fieldset-email,
.fieldset-bring,
.fieldset-quantity {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
}

.fieldset-quantity {
    display: flex;
    flex-direction: column;
}

.legend-button-container {
    display: flex;
}

.input-name {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    width: 360px;
    height: 60px;
    background-color: #F0F0F0;
    border: none;
    padding: 20px;
    background-image: url("../images/modal-name.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    box-sizing: border-box;
}

.label-name,
.label-email,
.label-bring,
.label-quantity {
    display: block;
    padding: 0;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 20px;
}

.input-email {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    width: 360px;
    height: 60px;
    background-color: #F0F0F0;
    border: none;
    padding: 20px;
    background-image: url("../images/modal-email.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    box-sizing: border-box;
}

.input-email:hover,
.input-name:hover,
.input-bring:hover {
    background-color: #DCDCDC;
}

.input-email:valid,
.input-name:valid,
.input-bring:valid {
    background-color: #EBEBEB;
}

.input-email-filled,
.input-name-filled,
.input-bring-filled {
    background-color: #EBEBEB;
}

.input-email:focus,
.input-name:focus,
.input-bring:focus {
    outline: 2px solid #AF4FFF;
}

.input-email:disabled,
.input-name:disabled,
.input-bring:disabled {
    opacity: 0.3;
}

.fieldset-email input:invalid {
    border: 3px solid #FF3D3D;
}

.fieldset-email-invalid span {
    font-size: 14px;
    color:#FF3D3D;
}

.input-bring {
    display: block;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    width: 540px;
    height: 60px;
    background-color: #F0F0F0;
    border: none;
    padding: 20px;
    box-sizing: border-box;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 74px;
    right: 70px;
    border: none;
    width: 26px;
    height: 26px;
    background-image: url("../images/close-modal.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #fff;
}

.modal-close-button:hover{
    opacity: 0.6;
}

.modal-close-button:active{
    opacity: 0.3;
}

.modal-close-button:focus{
    outline: 2px solid #AF4FFF;
}

.fieldset-email p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.label-quantity:hover +.legend-quantity-info,
.label-quantity:focus +.legend-quantity-info{
  display: block;
}

.legend-quantity-info {
  position: absolute;
  width: 200px;
  box-sizing: border-box;
  z-index: 1;
  padding: 19px 17px 19px 19px;
  background: #000000;
  top: 34px;
  left: -26px;
  display: none;
  offset: 0, 10px rgba(0, 0, 0, 0.1);
}

.label-quantity::before {
    position: absolute;
    right: 34px;
    content: url("../images/modal-info.svg");
    transform: translateY(-3px);
}

.legend-quantity-info-p {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}

.legend-quantity-info::before {
    content: "";
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent rgb(0, 0, 0);
    border-image: initial;
    top: -14px;
    left: 153px;
}

.legend-button-less {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background: #F0F0F0;
    cursor: pointer;
}

.legend-button-less::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #000000;
    top: 29px;
    left: 22px;
}

.quantity-input-numbers::-webkit-outer-spin-button,
.quantity-input-numbers::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.quantity-input-numbers {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    width: 60px;
    height: 60px;
    border: none;
    background: #F0F0F0;
    text-align: center;
    padding: 0;
    appearance: textfield;
    outline: none;
}

.legend-button-more {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background: #F0F0F0;
    cursor: pointer;
}

.legend-button-more:hover,
.legend-button-less:hover {
    background-color: #EBEBEB;
}

.legend-button-more:disabled,
.legend-button-less:disabled {
    opacity: 0.3;
}

.legend-button-more::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #000000;
    top: 29px;
    left: 22px;
}

.legend-button-more::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: #000000;
    top: 22px;
    left: 29px;
}

.legend-button-more:hover::before,
.legend-button-more:hover::after,
.legend-button-less:hover::before,
.legend-button-less:hover::after {
    opacity: 0.6;
}

.legend-button-more:active::before,
.legend-button-more:active::after,
.legend-button-less:active::before,
.legend-button-less:active::after {
    opacity: 0.3;
}



.modal-button-send {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Raleway", sans-serif;
    width: 200px;
    height: 40px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-button-send::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 8px;
    background-color: #FFE17F;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease;
}

.modal-button-send:focus {
    outline: 2px solid #AF4FFF;
}

.modal-button-send:hover::before {
    height: 100%;
}

.modal-button-send:active::before {
    background-color: #FFCC33;
    height: 100%;
}
